PORT=YOUR_PORT_NUMBER
MONGODB_URI=mongodb+srv://username:password@clusterN.abcdefg.mongodb.net/
CORS_ORIGIN=ENTER_CLIENT_URL_HERE
ACCESS_TOKEN_SECRET=YOUR_ACCESS_TOKEN_SECRET_HERE
ACCESS_TOKEN_EXPIRY=YOUR_ACCESS_TOKEN_EXPIRY_HERE
REFRESH_TOKEN_SECRET=YOUR_ACCESS_TOKEN_SECRET_HERE
REFRESH_TOKEN_EXPIRY=YOUR_ACCESS_TOKEN_EXPIRY_HERE
BCRYPT_SALT_ROUNDS=YOUR_BCRYPT_SALT_ROUNDS_HERE

CLOUDINARY_CLOUD_NAME=YOUR_CLOUDINARY_CLOUD_NAME_HERE
CLOUDINARY_API_KEY=YOUR_CLOUDINARY_API_KEY_HERE
CLOUDINARY_API_SECRET=YOUR_CLOUDINARY_API_SECRET_HERE